
<h1>Admin Dashboard</h1>


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Products</th>
        <th>Category</th>
      </tr>
      <td><%= @totalProducts%></td>
      <td><%= @totalCategory%></td>
    </thead>


